$color-primary: #f06c64;
$color-add: #504544;
$color-text: #f0cac9;
$color-background: #2d303a;
$color-tag: #656d89;

$content-width: 940px;
$tablet-width:768px;
$mobile-big-width:398px;
$mobile-small-width:414px;

 