@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-style: lighter;
  font-weight: lighter;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-style: black;
  font-weight: 900;
}