.contact {
    flex-basis: 300px;

    a,
    span {
        display: block;
        font-family: "Lato";
        font-size: 1.2rem;
        font-weight: 200;
        color: $color-text;
    }

    .icon-location {
        // width:7px;
        height:11px;
        background-image: url(./assets/img/singolo3/location.png);    
        background-repeat: no-repeat; 
        background-size: contain;    
    }

    .icon-phone {
        // width:11px;
        height:11px;
        background-image: url(./assets/img/singolo3/phone.png); 
        background-repeat: no-repeat;
        background-size: contain;  
    }

    .icon-mail {
        // width:13px;
        height:8px;
        background-image: url(./assets/img/singolo3/mail.png);  
        background-repeat: no-repeat; 
        background-size: contain;  
    }
}

.contact_text {
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 200;
    color: $color-text;
}

.contact__info {
    display: flex;
    margin: 1rem 0 0 0;
}

.icon {
    width: 3rem;
}